<style>

#footer {
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;
  bottom: 0;
  position: fixed;
  display: inline;
  grid-template-rows: auto auto auto;
  background-color: black;
  color: white;
  padding: 0px;
  width: 60vw;
  overflow-wrap: break-all;
}

#footer img {
float:none;
}


.logo {
  float: left;
  background-color: black;
  display: block;
}

</style>


<footer id=footer>
  <div class=logo><a href=https://ricothaka.github.io/ >./HoleToAnotherUniverse</a></div>
  <div class=css3badge><a href=https://github.com/ricothaka><img src=https://github.githubassets.com/assets/GitHub-Logo-ee398b662d42.png alt=ricothaka style=border:0;width:119px;height:31px /></a>
  </div>
  <div class=css3badge><a href=https://jigsaw.w3.org/css-validator/check/referer><img src=http://jigsaw.w3.org/css-validator/images/vcss alt="Valid CSS!"style=border:0;width:88px;height:31px /></a>
  </div>
  <img src=https://mayor.lacity.gov/sites/g/files/wph2066/files/styles/default/public/2023-04/Tri_Color_Ribbon_6000x75_v2.png.webp />
</footer>