<style>


#footer {
  flex-wrap: nowrap;
  align-self: center;
  justify-self: center;
  bottom: 0;
  position: fixed;
  display: block;
  grid-template-rows: auto auto auto;
  background-color: #D0D5D950;
  color: white;
  padding: 1px;
  width: 65vw;
  overflow-wrap: break-all;
 
}


</style>


<FOOTER id="footer">

  <div class="css3badge"><a href="https://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:43px;height:15px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" /></a>
  </div>

  <div class="css3badge"><a href="https://github.com/ricothaka"><img style="border:0;width:57.5px;height:15px" src="https://github.githubassets.com/assets/GitHub-Logo-ee398b662d42.png" alt="ricothaka" /></a>
  </div>

  <div class="logo"><a href="https://ricothaka.github.io/">./HoleToAnotherUniverse</a>
 <IMG src="https://mayor.lacity.gov/sites/g/files/wph2066/files/styles/default/public/2023-04/Tri_Color_Ribbon_6000x75_v2.png.webp" alt="Los ANgeles Flag" />
</div>
 

</FOOTER>
