<style>

HGROUP {
  
  margin: 0 auto;
  width: 70vw;
  margin: auto; 
  
}
HGROUP h1 {
  display: block;
  z-index: 5;
  line-height: 1rem;
  margin:15px;
  font-size: 3rem;
  word-break: break-all;
  font-weight: 700;
  font-style: italic;
  color: #FFFFFF;
  background: #0e8dbc50;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }
  


</style>

<HGROUP itemscope itemprop="workExample" itemtype="https://schema.org/WebPage" itemid="{{ site.url }}{{ site.baseurl }}">
  <img src="https://mayor.lacity.gov/sites/g/files/wph2066/files/styles/default/public/2023-04/Tri_Color_Ribbon_6000x75_v2.png.webp" />

    <h1>./HoleToAnotherUniverse=></h1>
    <section>
    <div class="swatch">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
</section>




  <section itemscope itemtype="https://schema.org/SiteNavigationElement">
  <nav class="navbar" role="navigation">
    <a href="{{ site.url }}{{ site.baseurl }}">./HoleToAnotherUniverse=></a>
    
  
      <div class="dropdown">
      <button class="dropbtn">Compiling 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://thakarashard.github.io/">ThakaRashard</a>
        <a href="https://thakarashard.github.io/rashardmro" itemscope itemtype="https://schema.org/Person" itemprop="name">RashardMRO</a>
        <a href="{{ site.url }}{{ site.baseurl }}/compiling/">Compiling</a>
        <a href="{{ site.url }}{{ site.baseurl }}/astronomy">AstronomY</a>
        <a href="{{ site.url }}{{ site.baseurl }}/normani" itemscope itemtype="https://schema.org/Person" itemprop="name" >Normani</a>
        <a href="{{ site.url }}{{ site.baseurl }}/erika" itemscope itemtype="https://schema.org/Person" itemprop="name" >Normani</a>
         <a href="{{ site.url }}{{ site.baseurl }}/coral" itemscope itemtype="https://schema.org/Person" itemprop="name" >Normani</a>
         <a href="https://thakarashard.github.io/">ThakaRashard</a>
         <a href="{{ site.url }}{{ site.baseurl }}/twitters">TwitterS</a>
         <a href="{{ site.url }}{{ site.baseurl }}/cv">curriculum vitae</a>
         <a href="{{ site.url }}{{ site.baseurl }}/rashardlearned">RashardLearned</a>
         <a href="https://moonlov3r.wordpress.com/blog-feed/">moonlov3r - WP</a>
         <a href="https://bubblegumpop01.tumblr.com/">BubbleGumPop01</a>
         <a href="https://bubblegumfm01.tumblr.com/">BubbleGumFM</a>
      
        <a href="{{ site.url }}{{ site.baseurl }}/rashardlearned/">RashardLearned</a>
        <a href="{{ site.url }}{{ site.baseurl }}/astronomy">AstronomY</a>
      </div>
    </div> 
  
  
  
    <div class="dropdown">
      <button class="dropbtn">AtThisTimE! 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://thakarashard.github.io/">ThakaRashard</a>
        <a href="https://thakarashard.github.io/rashardmro">RashardMRO</a>
        
        <a href="{{ site.url }}{{ site.baseurl }}/rashardlearned/">RashardLearned</a>
        <a href="{{ site.url }}{{ site.baseurl }}/astronomy">AstronomY</a>
      </div>
    </div> 
    <a href="{{ site.url }}{{ site.baseurl }}/compiling">./CompilingBlog=></a>
  </nav>
      <div class="gullies" itemscope itemprop="workExample" itemtype="https://schema.org/CreativeWork">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section> 
  <A itemprop="url" href="https://photojournal.jpl.nasa.gov/jpegMod/PIA26474_modest.jpg">
    <picture itemprop="image" itemscope itemtype="https://schema.org/CreativeWork">
      <source srcset="https://photojournal.jpl.nasa.gov/jpegMod/PIA26474_modest.jpg" />
      <IMG itemprop="publisher" itemscope="" itemtype="https://schema.org/CollegeOrUniversity" alt="PIA25417: Curiosity's Navcams View Paraitepuy Pass" src="https://photojournal.jpl.nasa.gov/jpegMod/PIA26474_modest.jpg" />
    </picture>
    </A>
    <DIV class="gullieslo">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </DIV>
    <!--
    <img src="https://mars.nasa.gov/system/internal_resources/details/original/1684_PIA25965-Enhanced-web.jpg" > 
  -->
  </HGROUP>
