

<HGROUP itemscope itemprop="workExample" itemtype="https://schema.org/WebPage" itemid="{{ site.url }}{{ site.baseurl }}">
    <h1>./HoleToAnotherUniverse=></h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Intel_pentium_iii_xeon_800_sl4h8_top.png"  alt="GO" />
<section>
    <div class="swatch">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
</section>

  <A itemprop="url" href="https://photojournal.jpl.nasa.gov/jpegMod/PIA26474_modest.jpg">
  <picture itemprop="image" itemscope itemtype="https://schema.org/CreativeWork">
    <source srcset="https://photojournal.jpl.nasa.gov/jpegMod/PIA26474_modest.jpg" />
    <IMG itemprop="publisher" itemscope="" itemtype="https://schema.org/CollegeOrUniversity" alt="PIA25417: Curiosity's Navcams View Paraitepuy Pass" src="https://photojournal.jpl.nasa.gov/jpegMod/PIA26474_modest.jpg" />
  </picture>
  </A>
  <DIV class="gullieslo">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </DIV>
  
  
  <section itemscope itemtype="https://schema.org/SiteNavigationElement">
  <nav class="navbar" role="navigation">
    <a href="{{ site.url }}{{ site.baseurl }}">./HoleToAnotherUniverse=></a>
    
  
      <div class="dropdown">
      <button class="dropbtn">Compiling 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://thakarashard.github.io/">ThakaRashard</a>
        <a href="https://thakarashard.github.io/rashardmro" itemscope itemtype="https://schema.org/Person" itemprop="name">RashardMRO</a>
        <a href="{{ site.url }}{{ site.baseurl }}/compiling/">Compiling</a>
        <a href="{{ site.url }}{{ site.baseurl }}/astronomy">AstronomY</a>
        <a href="{{ site.url }}{{ site.baseurl }}/normani" itemscope itemtype="https://schema.org/Person" itemprop="name" >Normani</a>
        <a href="{{ site.url }}{{ site.baseurl }}/erika" itemscope itemtype="https://schema.org/Person" itemprop="name" >Normani</a>
         <a href="{{ site.url }}{{ site.baseurl }}/coral" itemscope itemtype="https://schema.org/Person" itemprop="name" >Normani</a>
         <a href="https://thakarashard.github.io/">ThakaRashard</a>
         <a href="{{ site.url }}{{ site.baseurl }}/twitters">TwitterS</a>
         <a href="{{ site.url }}{{ site.baseurl }}/cv">curriculum vitae</a>
         <a href="{{ site.url }}{{ site.baseurl }}/rashardlearned">RashardLearned</a>
         <a href="https://moonlov3r.wordpress.com/blog-feed/">moonlov3r - WP</a>
         <a href="https://bubblegumpop01.tumblr.com/">BubbleGumPop01</a>
         <a href="https://bubblegumfm01.tumblr.com/">BubbleGumFM</a>
      
        <a href="{{ site.url }}{{ site.baseurl }}/rashardlearned/">RashardLearned</a>
        <a href="{{ site.url }}{{ site.baseurl }}/astronomy">AstronomY</a>
      </div>
    </div> 
  
  
  
    <div class="dropdown">
      <button class="dropbtn">AtThisTimE! 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://thakarashard.github.io/">ThakaRashard</a>
        <a href="https://thakarashard.github.io/rashardmro">RashardMRO</a>
        
        <a href="{{ site.url }}{{ site.baseurl }}/rashardlearned/">RashardLearned</a>
        <a href="{{ site.url }}{{ site.baseurl }}/astronomy">AstronomY</a>
      </div>
    </div> 
    <a href="{{ site.url }}{{ site.baseurl }}/compiling">./CompilingBlog=></a>
  </nav>
      <div class="gullies" itemscope itemprop="workExample" itemtype="https://schema.org/CreativeWork">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section> 
  
  </HGROUP>
