<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

  {% seo %}
</head>


<body>
  <div id="wrapper">
  <div id="MAiN">

 
 

    <div id="navcontainer">
      <div class="logo">./HoleToAnotherUniverse=></div>
      <ul id="navlist">
        
       <li>
          <a href="#">AstronomY</a>
          <ul>
            <li><a href="https://ricothaka.github.io/marsblog.html">MarsNotes</a></li>
            <li><a href="https://ricothaka.github.io/compiling.html">Saturn</a></li>
            <li><a href="https://ricothaka.github.io/Contact.html" >HTAU</a></li>
          </ul>
        </li>
            <li>
          <a href="ricothaka.github.io/compiling/">ComPiLinG</a>
          <ul>
            <li><a href="https://thakarashard.github.io/holetoanotheruniverse/">HTAU</a></li>

            <li><a href="https://ricothaka.github.io/cv">ResumE</a></li>
            <li><a href="https://ricothaka.github.io/webpagewebpage.html" >WebSiteS</a></li>
          </ul>
        </li>
        <li><a href="https://ricothaka.github.io/">HOME</a></li>
        <!-- etc. -->
      </ul>
    </div>

    {{ content }}

    <div id="footer">

    
<div class="logo"><a href="https://ricothaka.github.io/">./HoleToAnotherUniverse</a></div>  



      <div class="css3badge"><a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="Valid CSS!" />
    </a>
        
      </div>
       <div class="css3badge">   <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>  
         </div>
    </div>
  </div>
  </div>
</body>

</html>