<!DOCTYPE html>


<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

  {% seo %}
</head>

<html lang="{{ site.lang | default: " en-US" }}">
<body>


div id="heading">


</div>
  <div id="navcontainer">
  <div class="logo">./HoleToAnotherUniverse</div>
<ul id="navlist">
  
<li id="active"><a href="#" id="current">HomE</a></li>
<li><a href="#">BLoG</a></li>
<li><a href="#">LinKs</a></li>
<li><a href="#">ResumE</a></li>
<li><a href="#">ConTacT</a></li>
  
</ul>
  
</div>
  <div id="MAiN">


    {{ content }}

    <div id="footer">
      <div>./HoleToAnotherUniverse</div>
    </div>
  </div>
</body>

</html>
